<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-3">
      <div class="recipe-box">
        <%= link_to (image_tag post.image.thumb.url, class: "recipe-index" if post.image?), post %><br>
        <ul>
          <li><%= post.title %></li>
          <li><%= post.temperature %></li>
          <li><%= post.time %></li>
          <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </ul>
      </div> <!--/recipe-box -->
      <br>
    </div> <!--/col-md-3-->
    <% end %>
  </div> <!--/row-->
</div>
