<p>
  <h3>레시피 사진</h3>
  <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
</p>

<p>
  <h3>추가 레시피 사진</h3>
  <% @post_attachments.each do |p| %>
    <%= image_tag p.image.thumb.url %>
    <!-- <%= link_to "Edit Attachment", edit_post_attachment_path(p) %> -->
  <% end %>
</p>

<p>
  <%= @post.user.nickname %> 님
</p>

<p>
  <h3>레시피 이름 :</h3>
  <%= @post.title %>
</p>

<p>
  <h3>레시피 소개 :</h3>
  <%= @post.description %>
</p>

<p>
  <h3>음식 종류 :</h3>
  <%= @post.category.name %>
</p>

<p>
  <h3>레시피 온도 :</h3>
  <%= @post.temperature %>
</p>

<p>
  <h3>레시피 시간 :</h3>
  <%= @post.time %>
</p>

<p>
  <strong>Like:</strong>
  <%= @post.likes.size %> 명이 좋아합니다.
</p>

<p>
  <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
    <%= link_to("좋아요 취소","/likes/#{@post.id}/destroy",{method: "post"}) %>
  <% else %>
    <%= link_to("좋아요！", "/likes/#{@post.id}/create", {method: "post"}) %>
  <% end %>
</p>

<h3>레시피 재료</h3>
  <ul>
    <% for @ingredient in @post.ingredients %>
      <li><%= @ingredient.content %></li>
    <% end %>
  </ul>
<h3>레시피 방법</h3>
  <ol>
    <% for @step in @post.steps %>
      <li><%= @step.direction %></li>
    <% end %>
  </ol>
  
<% if can? :update, @post %>
<%= link_to '수정', edit_post_path(@post) %> |
<% end %>
<% if can? :destroy, @post %>
<%= link_to '삭제', @post, method: :delete, method: :delete, data: { confirm: '진짜로 지울건가요???' } %>
<% end %>
